<div fxLayout="row" fxLayoutAlign="center center" class="pad-top-md pad-bottom-xl">
  <h2 fxFlexAlign="center" class="tc-grey-100">Guardian Medals</h2>
</div>

<mat-card class="width">
  <mat-card-content class="pad-bottom-none pull-bottom-none">
    <form class="container" [formGroup]="options" [style.fontSize.px]="18">
      <mat-form-field>
        <input matInput placeholder="Gamertag" formControlName="gamertag" min="1" required>
        <mat-error *ngIf="options.get('gamertag').invalid">Required</mat-error>
      </mat-form-field>
      <mat-form-field [color]="options.value.platform">
        <mat-select placeholder="platform" formControlName="platform">
          <mat-option value="playstation">Playstation</mat-option>
          <mat-option value="xbox">Xbox</mat-option>
          <mat-option value="pc">PC</mat-option>
        </mat-select>
      </mat-form-field>
    </form>

  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" class="text-upper">Search</button>
  </mat-card-actions>
</mat-card>