<td-layout-nav logo="" toolbarTitle="Medals">
  <!-- <div td-toolbar-content layout="row" layout-align="start center" flex>
    <span fxFlex></span>
    <button mat-raised-button color="accent" (click)="triggerState = !triggerState">New Search</button>
  </div> -->

  <nav mat-tab-nav-bar backgroundColor="primary" class="text-upper">
    <a mat-tab-link routerLink="allmedals" routerLinkActive #rla1="routerLinkActive" [active]="rla1.isActive">
      <span fxHide.xs>All</span>
      <span fxHide.gt-xs>
        <mat-icon>all_inclusive</mat-icon>
      </span>
    </a>
    <a mat-tab-link routerLink="charactermedals" routerLinkActive #rla2="routerLinkActive" [active]="rla2.isActive">
      <span fxHide.xs>By Character</span>
      <span fxHide.gt-xs>
        <mat-icon>accessibility</mat-icon>
      </span>
    </a>
  </nav>

  <router-outlet></router-outlet>

</td-layout-nav>